
.sign-page{
    margin: 0;
 
    width: 100vw;
    overflow: hidden;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url('../Photos/tech.jpg');
}

*{
    box-sizing: border-box;
}
/*main{
    font-family: "Lato",sans-serif;
    align-items: center;
    justify-content: center;
}*/
.login-div{
    padding-top: 15px;
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}
.login-div .logo{

    background: url(./Logo/petascologo.jpg);
    background-size: cover;
     width: 140px;
     height: 140px;
     border-radius: 70%;
     margin: 0 auto;
     box-shadow: 8px 8px 15px #a7aaaf     		 -8px -8px 20px #fff;
   
}
.login-div .title{
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    letter-spacing: 0.1px;
}
.sub-title{
    text-align: center;
    font-size:  20px;
    padding-top: 7px;
    letter-spacing: 5px;
    font-family: algerian;
}
.nname{
    text-align: center;
    font-size: 15px;
    padding-top: 1px;
    letter-spacing: 5px;
}
.form{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.form input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.username,.password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset
    -8px -8px 8px #fff;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover {
     background-color: #50e5b9;
}
.signin-button:active{
    background-color: #88ef9e;
}
h3{
    padding-top: 40px;
    text-align: center;
    color: black;
}
p{
    padding-top: 20px;
    text-align: right;
    color: black;
}