
.sign-page{
    margin: 0;
 
    width: 100vw;
    overflow: hidden;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url('../Pixabay/blue-g24cc02af1_1280.jpg');
}

*{
    box-sizing: border-box;
}
/*main{
    font-family: "Lato",sans-serif;
    align-items: center;
    justify-content: center;
}*/
.login-div{
    padding-top: 15px;
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}
.login-div .logo{

    background: url(./Logo/petascologo.jpg);
    background-size: cover;
     width: 140px;
     height: 140px;
     border-radius: 70%;
     margin: 0 auto;
     box-shadow: 8px 8px 15px #a7aaaf     		 -8px -8px 20px #fff;
   
}
.login-div .title{
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    letter-spacing: 0.1px;
}
.sub-title{
    text-align: center;
    font-size:  20px;
    padding-top: 7px;
    letter-spacing: 5px;
    font-family: algerian;
}
.nname{
    text-align: center;
    font-size: 15px;
    padding-top: 1px;
    letter-spacing: 5px;
}
.form{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.form input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.username,.password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset
    -8px -8px 8px #fff;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover {
     background-color: #50e5b9;
}
.signin-button:active{
    background-color: #88ef9e;
}
h3{
    padding-top: 40px;
    text-align: center;
    color: black;
}
p{
    padding-top: 20px;
    text-align: right;
    color: black;
}

/* ============================== sign up ===========================*/

.login-div{
    width: 430px;
    height: 700px;
    padding: 15px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}
.login-div .logo{

    background: url(./Logo/petascologo.jpg);
    background-size: cover;
     width: 100px;
     height: 100px;
     border-radius: 70%;
     margin: 0 auto;
     box-shadow: 8px 8px 15px #a7aaaf     		 -8px -8px 20px #fff;
   
}
.title{
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    letter-spacing: 0.1px;
}
.sub-title{
    text-align: center;
    font-size:  20px;
    padding-top: 7px;
    letter-spacing: 5px;
    font-family: algerian;
}
.nname{
    text-align: center;
    font-size: 15px;
    padding-top: 1px;
    letter-spacing: 5px;
}
.form{
    width: 100%;
    padding: 30px 5px 5px 5px;
}
.form input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 10px 10px 10px 5px;
}
.username,.password{
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset
    -8px -8px 8px #fff;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato",sans-serif;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}
.signin-button:hover {
     background-color: #50e5b9;
}
.signin-button:active{
    background-color: #88ef9e;
}
h3{
    padding-top: 40px;
    text-align: center;
    color: black;
}
p{
    padding-top: 20px;
    text-align: right;
    color: black;
}

/* ========================= add post ============================ */
.add-post{
    display: flex;
    justify-content: center;
    background: #02c8db
}
.add-post-form{
    padding-left: 5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
}
.post-form h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.title-input{
    outline: none;
    width: 25rem;
    margin-bottom: .8rem;
    padding: 0.3rem;
    border: none;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
form h4{
    margin-bottom: 0;
}
#post-category{
    margin-bottom: 0.8rem;
    padding: 0.2rem;
    width: 25rem
}
.form-control{
    margin-bottom: 0.8rem;
}
textarea{
    border: none;
    resize: none;
    padding: 0.8rem 1.4rem;
}
.publish-btn{
    font-size: 14px;
    background: aqua;
    padding: 0.5rem 0.8rem;
    width: 12rem;
   margin-bottom: 5rem;
   margin-top: 2rem;
}

/* ======================= add user ==============================*/
.addUser-page{
    padding-left: 2.5rem;
}
#user-role{
    width: 20rem;
    padding: 0.3rem;
   font-size: 14px;
   font-weight: 800;
   border: #a7aaaf;
}
#user-role:focus{
    border: none;
}
.user-avatar{
    margin-top: 1.5rem;
}

/* ======================== edit user ========================*/
.edit-user-role{
    margin-bottom: 3rem;
}
.edit-user-role:focus{
    border: none;
}


/* ================================= Dashboard ===========================================*/
.dashboard{
    margin-top: -0.3rem;
    margin-bottom: -4.9rem;
}
.dashboard .sidebar-toggle{
    display: none;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: #02c8db;
    padding: 2rem;
    margin-bottom: 5rem;
}
.dashboard aside a{
    background-color: #b1b1b1;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem;
}
.dashboard aside ul li:not(:last-child) a{
    border-bottom: 2px solid #171616;
}
.dashboard aside a:hover{
    background: aqua;
}
.dashboard aside a.active{
    background: #02c8db;
}
/* ================= dashboard main ==================*/
.dashboard main{
    margin-left: 2rem;
}
.dashboard main h2{
    margin: 0 0 2rem 0;
    line-height: 1;
}
/*    table */
.dashboard main table{
    width: 100%;
    text-align: left;
}
.dashboard main table th{
    padding: 0.8rem;
    font-size: 1.2rem;
}
.dashboard main table th{
    border-bottom:2px solid aqua;
    border-top :2px solid aqua;
}
.dashboard main table td{
    padding: 0.6rem;
    font-size: 1.0rem;
    border-bottom: 1px solid aqua;
}
.dashboard main table tr:hover td{
    background-color: aqua;
    cursor: default;

}


.admin-btn{
    padding: 0.2rem 0.7rem;
    font-size: 0.8rem;
    border-radius: 1.8rem;
    margin: 1.2rem 0.5rem;
    background-color: aqua;
}
.del-btn{
    background-color: red;
}
.admin-btn:hover{
    background-color: #171616;
    color: #ecf0f3;
}


/* ========================================== media query ==========================================================*/
@media screen and (max-width: 1024px) {
    .dashboard .sidebar-toggle{
        display: none;
    }
    .dashboard-container{
        grid-template-columns: 4.5rem auto;
        padding: 0;
        /* background: transparent;*/
    }
    .dashboard aside h4{
        display: none;
    }
    .dashboard aside a{
        padding: 1.5rem;
    }
}


@media screen and (max-width: 720px) {
   .dashboard{
    margin-top: 5rem;
   }
   .dashboard-container{
    grid-template-columns: 1fr;
    gap: 0;
   }
   .dashboard main{
    margin: 0;
   }
   .dashboard main h2{
    margin-top: 2rem;
   }
   .dashboard aside{
    position: fixed;
    box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.4);
    left: -100%;
    height: 150vh;
    transition: all 2s;
   }
   .dashboard aside a{
    font-size: 0.8rem;
}
   .dashboard .sidebar-toggle{
    display: inline-block;
    background: #a7aaaf;
    color: red;
    position: fixed;
    right: 0;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50% 0 0 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
   }
   .dashboard aside a h4{
    display: inline-block;
   }

   #hide-sidebar-btns{
    display: none;
   }
}