

.marquee-text{
    margin-top: 0;
    color:rgb(21, 14, 224);
}

.donate-section{
    padding-top: 0 !important;
    margin-top: 0;
}

.text{
    padding-top: 0%;
    margin-top: -22px;
    background: url('../images/960x0.jpg');
    align-items: center;
    justify-content: center;
}
.text h1{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}
.text p{
    font-size: 22px;
    color: #fff;
    text-align: center;
    background-color: rgba(103, 101, 101, 0.53);
    padding-top: -50px;
    
}

.title{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    
}
.title::after{
    content: "";
    height: 5px;
    width: 400px;
    background-color: #000;
    display: block;
    margin: auto;
}
.donations{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.donation-box{
    width: 350px;
    height: 380px;
    display: flex;
    background-color: aqua;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px 8px;
    box-shadow: 0 0 25px 0 #0f0f0f;
}
.donation-box .icon{
    font-size: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}
.donation-box .icon:hover{
    transition: all 1s ease;
    transform: scale(1.4);
    background-color: gold;
}

.donation-box .icon img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.donation-box h2{
    padding-bottom: 0;
}
.address{
    font-size: 15px;
}
/* ======================================== media query =================================================== */
 @media screen and (max-width:1130px){
    .donations{
        display: flex;
        flex-direction: column;
    }
    .donation-box{
        width: 300px;
        display: flex;
        margin: 20px 0;
    }

    .title{
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
        
    }
 }


 @media screen and (max-width:720px){
    .title{
        font-size: 25px;
    }

 }