@import url('/CSS/font.css');

html,body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    /*   color  */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #fff;
    --midnight: #104f55;

    /*  gradient color */

    /*  fonts vars*/
    --Loobster:'Loobster';
    --lobster: 'lobster';
    --Cormorant:'Cormorant';
    --Helvetic:'Helvetic';
}

/* --------------------------- Global classes -------------------------------*/
a{
    text-decoration: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.btn{
    font-size: 3rem;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}
.blog-btn{
    font-size: large;
    color: rgb(11, 49, 236);
    font-weight: bold;
}
.blog-title h3{
    font-family: Lucida fax;
}
.container{
    margin: 0.5vw;
}
span{
    color: var(--text-gray);
}
.text-gray{
    color: var(--text-gray);
}
p{
    font-family: Bodoni MT;
    font-size: 1.2rem;
}
/* -----------X--------------- Global classes ----------------X--------------*/
.logo{
    padding: 0;
    margin: 0;
    width: 30px;
    border-radius: 5rem;
}
/* ----------------------------- nav bar --------------------------------- */
.nav{
    /*background-color: whitesmoke;*/
    background-color:  #dad1d1;
    padding: 0 2rem;
    height: 0rem;
    min-height: 7vh;
    /*overflow: hidden;*/
    transition: height 1s ease-in-out;

}

/* -------------------- menu ------------------*/
.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-item{
    display: flex;
    margin: 0 auto;
}
/* ----------- x --------- menu --------- x ---------*/
.nav .nav-item .nav-link{
    padding: 1.1rem 0.2rem;
    font-size: 0.8rem;
    font-weight: bolder;
    position: relative;
    color: #0f0f0f;
    font-family: Leeelawadee UI;
}
/* ==============================================*/
.menu ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
.menu ul li{
    position: relative;
    display: inline-block;
    text-align: center;

}
.menu ul li a{
    display: block;
    padding: 0 15px;
    color: #040404;
    line-height: 30px;

    
}
.menu ul li a:hover{
    background: red;
}
.menu ul ul{
    position: absolute;
    top: 50px;
    display: none;
    background-color: #fff;
}
.menu ul li:hover > ul{
    display: inline-block;
}
.menu ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position:relative;
    border: 2px solid rgb(230, 18, 18);
}
.menu ul ul ul li{
    position: relative;
    top: -60px;
    left: 77px;
    display: block;
    border: 2px solid rgb(230, 18, 18);
}

/* -------------------- web name (petasco gh) ------------------*/
.nav .nav-brand a{
    font-size: 1.3rem;
    padding :1rem;
    font-weight: bolder;
    display: inline-block;
    font-family: Helvetic;
}
/* -------------------- toggle bar ------------------*/
.nav .toggle-collapse{
    position: absolute;
    top: -2%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.8rem 0;
    padding-right: 0.2rem;
   
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.8rem;
    color: var(--text-gray);
    
}
.collapse{
    height: 20rem;
}
/* -------------------- social media styling ------------------*/
.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.5;
}
.nav .social i:hover{
    color: red;
}

/* ------------------------------------ search bar ------------------- xxxx -----------------*/
.search-container{
    margin-top: 0.6rem; 
    background: #fff;
    height: 10px;
    border-radius: 3rem;
    padding: 10px 10px;
    display: flex;
    align-items: left;
    transition: 0.8s;
    box-shadow: 0 0 25px 0 #0f0f0f;
}
.search-container:hover input{
    width: 200px;
    cursor: pointer;
    
}

.search-container input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.8rem;
    transition: 0.8s;
    color: #000;
    width: 0px;
    
}


/* ----------------xxx--------- nav bar ----------------xxx-------------- */
/* ==================================== toggle menu ======================= xxxxxxxxxxxxxxxxxxx==================*/

/* ===================================================== content ===================================================*/
.contact-img{
    background: url('/images/img\ \(11\).jpg');
    padding: 5px
}
.contact-heading{
    text-align: center;
}
.contact-wrap{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.contact-info{
    padding: 40px 30px;
    box-shadow: #000;
}
.contact-info:hover{
    transform: scale(1.4);
    transition: all 1s ease;

}
.contact-info h2 i{
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #000;
    background: #f5f5f5;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    
}
.contact-info:nth-child(1){
    flex: 40%;
    background: #18daca;
    padding-right: 0.8rem;
}
.contact-info:nth-child(2){
    flex: 40%;
    background: aqua;
}
/* ------------------------ contact social media -----------xxxxxxxxxxxx----------------*/
.contact-info ul{
    padding: 0;
    margin: 0;
}
.contact-info ul li{
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}
.contact-info ul i{
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
    background: #f5f5f5;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}
.contact-info ul i:hover{
    background-color: aqua;
    transform: scale(1.2);
}

/* ------------------------ contact form --------------xxxxxxxxxxxxxxxxxxxx----------------*/
.contact-info form{
    width: 100%;
    height: auto;
}
.contact-info-input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    font-size: 22px;
    font-weight: 200;
    font-family: poppins;
}
.contact-info-textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 200;
    font-family: poppins;
}
.contact-info-textarea::placeholder{
    font-size: 20px;
}
.contact-info-btn{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    padding-left: 5px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 3rem;
}
.contact-info-btn:hover{
    background: red;
    cursor: pointer;
}
/* ===================================== google map ============================*/
.contact-info-map h2{
    justify-content: center;
    text-align: center;
    padding-bottom: 0px;
    font-size: 2rem;
    background-color: #dad1d1;
    border-radius: 3rem;
}
.contact-info-map h2:hover{
    background: aquamarine;
    transform: scale(1.1);
}
.contact-info-map iframe{
    width: 100%;
    padding: 25px;
    padding-top: 0;
}

/* - ==================================media query ============================ */
@media only screen and (max-width:1160px){
    .contact-info:nth-child(1){
        flex: 50%;
        background: #18daca;
        padding-right: 0.8rem;
    }
    .contact-info:nth-child(2){
        flex: 50%;
        background: aqua;
    }
   
    
}
/* =============================== Footer ====================================*/
.footer{
    height: 100%;
    background: aqua;
    position: relative;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem 0.8rem;
}
.newsletta .form-element{
    background-color: #18daca;
    display: inline-block;
}
.newsletta .form-element input{
    padding: 0.5rem 0rem;
    border: none;
    background: transparent;
    width: 80%;
    outline-color: #18daca;
}
.newsletta .form-element span{
    background-color: #0f0f0f;
    padding: 0.5rem 0rem;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.1rem;
    color: #fff;
}
.newsletta .follow-us-icons i:hover{
    color: rgb(242, 12, 12);
    cursor: pointer;
}
/* instagram div*/
.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 0.3rem 0.4rem;
}
.newsletta div i{
    padding: 0.4rem;
    font-size: 2.0rem;
}
.footer .copy-right{
    justify-content: center;
}
.contract{
    padding: 0.1rem 1.8rem;
}
.footer .move-up{
    position: absolute;
    right: 6%;
    top: 85%;
}
.footer .move-up span:hover{
    color: red;
    cursor: pointer;
}
/* ==============xxx============== Footer ==================xxx================*/

/* -------------------- viewport <= 520px ------------------*/
@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }
    .post-image .post-info{
        display: none;

    }
    .footer .container > div{
        padding: 1rem 0.9rem !important;
    }
    .footer .copy-right{
        padding: 0rem 1.2rem;
    }
    nav .toggle-collapse{
        width: 90% !important;
 
    }
    .nav{
        overflow: hidden;
    }
}

/* -------------------- viewport <= 750px ------------------*/
@media only screen and (max-width: 750px){
    .nav .nav-menu,.nav .nav-item{
        flex-direction: column;
    }
    .nav{
        background-color:  #dad1d1;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    .nav .toggle-collapse:hover{
        color: red;
    }
    .nav .nav-item .nav-link{
        padding: 0.2rem;
    }
    main .site-content{
        grid-template-columns: 100%;
    }
    main .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;

    }
    .footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* -------------------- viewport <= 1130px ------------------*/
@media only screen and (max-width: 1130px){
    main .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;

    }
    .popular-post .post-info{
        display: none !important;
    }
    .footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ----------- xx --------- viewport <= 1130px ---------- xx --------*/


/* -------------------- viewport <= 750px ------------------*/
@media only screen and (max-width: 1000px){

    main .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
    }
    .nav .nav-menu,.nav .nav-item{
        flex-direction: column;
    }
    .nav{
        background-color: #dad1d1;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    .nav .toggle-collapse:hover{
        color: red;
    }
    .nav .nav-item .nav-link{
        padding: 0.2rem;
    }
    main .site-content{
        grid-template-columns: 100%;
    }
    main .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;

    }
    .footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .nav{
        overflow: hidden;
    }


    .site-title h1{
        margin: 0.5rem;
        font-size: 4rem;
    }
    .site-title h3{
        margin-top: 0rem;
        font-size: 2.2rem;
        color: #040404;
    }
    .site-title .btn{
        margin-top: 1rem;
        font-family: var(--Cormorant);
    }
    
    /* ----------- x --------- menu --------- x ---------*/
    .nav .nav-item .nav-link{
    padding: 0.2rem 0.2rem;
    font-size: 0.8rem;
    text-align: left;
    border: 2px solid aqua;
    }
    /* -------------------- social media styling ------------------*/
    .nav .social{
        padding: 1.5rem 0;
    }
    .nav .social i{
        padding: 0.5;
        font-size: 1.3rem;
    }
    .nav .social i:hover{
        color: red;
    }

   /* ======================= menu styling for mini screen =========================*/

    .menu ul li:hover > ul{
        display: inline-block;
       margin-left: -120px;
       margin-top: -130px;
       font-size: 0.8rem;
    }
    .menu ul ul li{
        width: 120px;
        float: none;
        display: block;
        position: relative;
        border: 2px solid rgb(230, 18, 18);
    
    }
    .menu ul ul ul li{
        margin-left: -150px;
        margin-bottom: 0px;
        position: relative;
        top: 20px;
        left: 77px;
        display: block;
        border: 2px solid rgb(230, 18, 18);
    }

    

}

@media only screen and (max-width: 1400px){
    .search-container{
        display: none;
    }
}